body {
    margin: 0;
}

.MainBody {
    display: flex;
    height: 100%;
}

.MainContainer {
    background: rgb(144, 221, 238);
    width: 67%;
}

.TopContainer {
    border-bottom: solid 1px black;
    background: navy;
    height: 100px;
    width: 100%;
    color: white;
}

.LeftContainer {
    background: rgb(224, 110, 110);
    border-right: solid 1px;
    height: 100%;
    width: 33%;
    .createCustomerForm {
        background: rgb(224, 110, 110);
        #createCustomerButton {
            font-family: sans-serif;
            background: rgb(26, 115, 232);
            color: white;
            border-radius: 5px;
            border: none;
            padding: 5px 5px 5px 5px;
        }
    }
    .CreateBookForm {
        background: rgb(224, 110, 110);
        #createBookButton {
            font-family: sans-serif;
            background: rgb(26, 115, 232);
            color: white;
            border-radius: 5px;
            border: none;
            padding: 5px 5px 5px 5px;
        }
    }
    #getCustomerbutton {
        font-family: sans-serif;
        background: #1aa260;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px 5px 5px 5px
    }
    #getBooksbutton {
        font-family: sans-serif;
        background: #1aa260;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px 5px 5px 5px
    }
}

.bookBox {
    border: solid black;
    #deleteBooksbutton {
        background: #de5246;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px 5px 5px 5px;
    }
}

.custProfile {
    border: solid black;
    #deleteCustomerButton {
        background: #de5246;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px 5px 5px 5px;
    }
}